:root {

    /* Definiendo variables */

    --color-red: #e50914;
    --color-white: white;
    --color-black: black;

    /* Variables de fuente */

    --text-small-button: 1.6rem;
    --text-small: 1.44rem;
    --text-medium: 1.75rem;
    --text-big: 2.8rem;
    --text-very-big: 3.2rem;

}

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    font-size: 62.5%;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Roboto', sans-serif;  
}

body {

    width: 100vw;
    height: fit-content;
    overflow: hidden;

}
/* Header, main, Footer */

header {

    position: absolute;
    width: 100vw;
    height: 30px;
    margin: 25px 0px 0px 0px;
    z-index: 10;

}

/* Componentes */

.svg-icon {

    fill: var(--color-red);
    width: auto;
    height: 30px;

}
.svg-icon--login {

    position: absolute;
    height: 48px;
    left: 10px;
    
}

.navegationBar {

    display: flex;
    flex-wrap: none;
    width: 90%;
    height: fit-content;
    margin: 0 auto;

}
.navegationBar__item {

    width: fit-content;
    text-decoration: none;
    

}

.button {

    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    padding: 0px 10px;
    background-color: #e50914;
    
    /* estilos de fuente */

    color: var(--color-white);
    font-size: var(--text-small-button);
    font-weight: 700;
    border: none;

    /* Estilos */

    border-radius: 2px;
    cursor: pointer;
        
}
.button__text--center {

    margin: 0 auto;

}
.button--margin{

    margin: 0px 10px;

}
.button--full-width {

    width: 100%;

}
.button--submit {

    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;

}
.button-vertical-margin-20 {

    margin: 45px 0px 20px 0px;

}

.button--fantasma-black {

    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid var(--color-white);

}

.card {

    position: relative;
    width: 90%;
    max-width: 1000px;
    

}
.card--vertical-align {

    top: 20%;

}
.card__title {

    font-size: var(--text-big);
    text-align: center;
    color: var(--color-white);

}
.card__subtitle {

    margin: 15px 0px;
    font-size: var(--text-medium);
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
    

}
.card--absolute {

    position: absolute;

}
.card--center {

    margin: 0 auto;

}
.formulario {

    position: relative;
    width: 100%;
    height: fit-content;

}
.formulario__title {

    font-size: var(--text-very-big);
    color: var(--color-white);

}
.formulario__subtitle {

    margin: 15px 0px;
    font-size: var(--text-medium);
    font-weight: 400;
    text-align: center;
    color: var(--color-white);

}
.formulario__label {

    position: absolute;
    left: 8px;
    top: 15px;
    color: #8C8C8C;
    font-size: var(--text-small);
    transition: 300ms all ease;

}
.formulario__text {

    text-decoration: none;
    color: #8C8C8C;
    font-size: var(--text-small);

}
.formulario__container {

    position: relative;
    width: 100%;
    padding: 10px 10px 0px 10px;
    background-color: var(--color-white);
    margin: 20px auto;
    border-radius: 5px;

}
.formulario__input {

    position: relative;
    width: 100%;
    margin: 0px auto;
    height: 38px;
    max-height: 38px;
    background-color: var(--color-white);
    border: none;
    outline: none;

    /* Estilos de fuente */

    font-size: var(--text-medium);
    font-weight: 400;

}
.formulario__checkbox {

    opacity: 0;

}
.formulario__container-max-width-372 {

    max-width: 372px;

}
.formulario__text--checkbox {

    margin-left: 6px;

}
.formulario__text--checkbox:before {

    content: "";
    position: absolute;
    left: 0;

}
.formulario__text--checkbox::before {

    width: 16px;
    height: 16px;
    background-color: #8C8C8C;
    border-radius: 2px;

}
.formulario__checkbox:checked + .formulario__text--checkbox:after {

    content: "s";
    font-size: 1.7rem;

}
.formulario__checkbox:checked + .formulario__text--checkbox::after {

    color: var(--color-black);
    position: absolute;
    left: 3px;
    bottom: 2px;

}
.formulario__container--bg-black {

    background-color: #333333;

}
.formulario__input--bg-black {

    background-color: #333333;

}
.formulario__input:focus + .formulario__label{

    font-size: 1rem;
    top: 5px;
    left: 4px;

}
.formulario__container--max-width-420 {

    max-width: 420px;

}
.formulario--relative {

    position: relative;

}
.formulario__text--right {

    position: absolute;
    right: 0;

}
.icon-arrow-right {

    padding: 0px 0px 0px 8px;

}
.vertical-margin-30 {

    margin: 30px 0px;


}


/* Contenedores */

.container {

    
    width: 90%;
    height: fit-content;
    
    
}

/* Modificadores del los containers */

.container--full-width {

    width: 100%;

}
.container--relative {

    position: relative;

}
.container--flex-row {

    display: flex;
    flex-wrap: none;

}
.container--flex-row-wrap {

    display: flex;
    flex-wrap: wrap;

}
.container--flex-column {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;


}
.container--align-right {

    justify-content: flex-end;

}
.container--complete {

    width: 90%;

}
.container--center {

    margin: 0 auto;

}
.container--margin-top-20 {

    margin-top: 20px;

}
.container--full {

    width: 100vw;
    height: 100vh;

}
.container--bg-inicio {
    
    position: relative;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/8d36b5db-2726-441e-9187-b005200b926a/CO-es-20220111-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}
.container--bg-inicio::before {

    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;

}
.container--bg-black {

    background-image: none;
    background-color: var(--color-black);

}
